@model IEnumerable<SDHCC.Identity.Models.UserModels.UserRoleView>

@{
  ViewData["Title"] = "Index";
}

<h2>Users</h2>
@{ await Html.RenderPartialAsync("Users/_RolesLink"); }
<ul>
  @foreach (var user in Model)
  {
    <li>
      <a href="@Url.Action("Detail","User",new { @area="Admin",@id=user.Name })">@user.Name [@(String.Join(",", user.Roles))]</a>
    </li>
  }

</ul>
