@{
  ViewData["Title"] = "Roles";
}

<h2>Roles</h2>
<form action="@Url.Action("CreateRole","User",new { @area="Admin" })" method="post">
  roles split by ',' for Multi roles. space will be ignore. special char may throw error
  <input type="text" name="roles" value="" />
  <input type="submit" name="submit" value="submit" />
</form>

<form action="@Url.Action("RemoveRole","User",new { @area="Admin" })" method="post">
  remove roles. system roles will not be removed
  @{ await Html.RenderPartialAsync("Users/_NoneSystemRolesCheckBox"); }
  <input type="submit" name="submit" value="submit" />
</form>

