@inject ISDHCCIdentity users
@{
  var roles = users.GetRoles();
}
<div>
  <a href="@Url.Action("Index","User",new {@area="Admin",@id="" })">All Roles</a>
  @foreach (var r in roles)
  {
    <a href="@Url.Action("Index","User",new {@area="Admin",@id=r.NormalizedName })">@r.Name</a>
  }
</div>