@inject ISDHCCIdentity users
@model ContentRolesCheck
@{
  var roles = users.GetRoles();
}
<div>
  @foreach (var role in roles)
  {
    <spam>
      <input type="checkbox" name="@Model.PropertyName" value="@role.NormalizedName" @(Model.Roles.Contains(role.NormalizedName) ? "Checked" : "") />@role.Name
    </spam>
  }
</div>