
@{
  ViewData["Title"] = "Index";
  //for (var i = 0; i < 10000; i++)
  //{
  //    var home = new SDHCCContent.Models.Home();
  //    home.AddContent();
  //}
  Layout = null;
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  
</head>
<body class="platform-website">
  123
</body>
</html>
